<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Daily Meme</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<header>
    <h1>The Daily Meme</h1>
</header>
    <nav>
        <a class="navigation" href="/">Home</a>
        <a class="navigation" href="/topics/:topic">Topics List</a>
        <a class="navigation" href="/">About Us</a>
    </nav>
  {{{ body }}}
</body>
</html>