<h2>Post a New Meme</h2>

<div class="whiteBackground">

  <form action="/" method="post">
    <p>
      <label>Name: </label>
      <input type="text" name="name"/>
    </p>
    <p>
      <label>URL: </label>
      <input type="text" name="url"/>
    </p>
    <p>
      <label>Description: </label>
      <input type="text" name="description"/>
    </p>
    <p>
      <label>Topic: </label>
      <input type="text" name="topic"/>
  </p>
    <input type="submit" value="Post" />
  </form>
</div>