<h2>Post a New Meme</h2>

<div class="whiteBackground">
  <p>To uplaod a meme, locate the image URL of the meme and paste it in this edit page.</p>

  <form action="/" method="post">
    <p>
      <label>Enter a new name: </label>
      <input type="text" name="name"/>
    </p>
    <p>
      <label>Enter an image URL: </label>
      <input type="text" name="url"/>
    </p>
    <p>
      <label>Add a description: </label>
      <input type="text" name="description"/>
    </p>
    <p>
      <label>Add a topic: </label>
      <input type="text" name="topic"/>
  </p>
    <input type="submit" value="Post" />
  </form>
</div>