header {
    background-color: Black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
h1, h2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 5px;
    margin-right: 10px;
}
img {
    max-width: 600px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
body {
    background-color: rgb(61, 55, 55);
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin: 0;
}

#heart {
    display: inline-block;
    height: 45px;
    width: 45px;
    opacity: 0.7; 
}

#heart:hover, #heart:active {
    opacity: 1; 
}

#edit {
    padding: 0px;
    margin: 0px;
}

nav {
    color: white;
    background: black;
    display: flex;
}

.navigation {
    padding: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.navigation:hover {
    background: rgb(145, 136, 145);
}
.whiteBackground {
    background: white;
    padding: 5px;
}
.reverseUnoCard {
    display: flex;
    flex-direction: column-reverse;   
}

.icon {
    color: black;
    background: white;
    font-family: 'Poppins', sans-serif;
    padding: 5px 10px 5px 10px;
}
p {
    margin: 5px;
    font-size: 17px;
    font-style: oblique;
}

a:link, a:visited {
    text-decoration: none;
}

li {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    background: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

